
body {
    padding-top: 120px; 
}




/* ALL NAVIGATION BAR CODE */

.nav-logo {
    height: 100px;     
    width: auto;

}

.nav_bar {
    position: fixed;         
    top: 0;
    left: 0;
    width: 100%;             
    z-index: 1000;        
    padding: 16px 50px;       
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #efe1d9; 
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.nav_bar a {
    font-size: 20px;
    text-decoration: none;
    color: #4a2f2f;      
    margin: 0 12px;        
    font-weight: 500;
    transition: color 0.3s ease, transform 0.3s ease;


}

.nav_bar a:hover {
    color: #7b1e1e;        
    transform: translateY(-2px); 
}

/*BUTTONS USED MULTIPLE TIMES THROUGHOUT */
/*ALL BUTTONS WILL USE THE STANDARD GIVEN TO THEM BY THE BUTTON CLASS*/

.quote_btn {

    background: linear-gradient(135deg, #7b1e1e, #6d3636);
    color: #ffffff;
   
}

button {
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 0.4px;
    border: none;
    cursor: pointer;
    box-shadow: 0 10px 25px rgba(123, 30, 30, 0.35);
    transition: all 0.25s ease;
    margin-right: 100px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 14px 28px;
    border-radius: 10px;


}

.text-box {
    flex: 1;                    
    min-width: 300px;
}

.text-box h2 {
    font-size: 2rem;
    color:#7b1e1e
}


/*HERO SECTION - THIS IS SECTIONS OIF WEBSITES HOLDING SEPERATED INFO */

.hero-section {
    min-height: 100vh; /* fills the screen */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;                 
    max-width: 1200px;
    margin: 0 auto;            
    flex-wrap: wrap;           
}

.hero-section h1 {
    font-size: 3rem;
}

img {
    width: 500px;      
    height: auto;      
    display: block;     
    margin: 0 auto;  

}



.intro {
    background-image: url("../media/front2.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #ffffff;
    position: relative;
}

.hero-buttons {
    display: flex;
    gap: 1px;                
    justify-content: center;   
    margin-top: 20px;
    flex-wrap: wrap;           
}

