
body {
    padding-top: 120px; 
}

.nav-logo {
    height: 100px;     
    width: auto;

}

.nav_bar {
    position: fixed;         
    top: 0;
    left: 0;
    width: 100%;             
    z-index: 1000;        
    padding: 16px 50px;       
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #efe1d9; 
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.nav_bar a {
    font-size: 20px;
    text-decoration: none;
    color: #4a2f2f;      
    margin: 0 12px;        
    font-weight: 500;
    transition: color 0.3s ease, transform 0.3s ease;


}

.nav_bar a:hover {
    color: #7b1e1e;        
    transform: translateY(-2px); 
}

.quote_btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    padding: 14px 28px;
    border-radius: 10px;

    background: linear-gradient(135deg, #7b1e1e, #6d3636);
    color: #ffffff;

    font-size: 15px;
    font-weight: 600;
    letter-spacing: 0.4px;
    border: none;
    cursor: pointer;
    box-shadow: 0 10px 25px rgba(123, 30, 30, 0.35);
    transition: all 0.25s ease;
    margin-right: 100px;
}